apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - port: {{ .Values.ports.backend }}
    targetPort: {{ .Values.ports.backend }}
